{% extends "base.html" %}
{% load i18n account socialaccount crispy_forms_tags %}

{% block site_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <h1>{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <p>Please sign in with one of the social providers below,
      <a href="{% url "account_signup" %}">sign up</a>,
      or login with you {{ site.name }} account below
    </p>

    {% include "socialaccount/snippets/provider_list.html" %}

    {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    <p>If you have not created an account yet, then please
      <a href="{% url "account_signup" %}">sign up</a> first.</p>
  {% endif %}
  <hr>
  <div class="well">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn btn-success primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
{% endblock %}
