{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block site_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <h1>{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="well">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
{% endblock %}
