.idea/
__pycache__/
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
# Sphinx documentation
docs/_build/
target/
/node_modules
/staticfiles
/media
/assets/dist
.gitkeep
.autoenv.zsh
staticfiles
/.yarnclean
