@import "font-awesome/scss/font-awesome.scss";
@import "sassy-animate/scss/animate.scss";

div.related {
  margin-bottom: 2em;
  min-height: 7.5em;
}

div.cover-image {
  margin-right: 3em;
}

div.reading-order-buttons {
  margin-top: 1em;
}

.change-icon > .fa + .fa,
.change-icon:hover > .fa {
  display: none;
}

.change-icon:hover > .fa + .fa {
  display: inherit;
}

.google-button,
a.btn.socialaccount_provider.google {
  &:before {
    font-family: FontAwesome, serif;
    content: " ";
  }
}

.img-overlay {
  position: relative;
  .overlay {
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include gradient-vertical(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    .overlay-inner {
      display: flex;
      justify-content: center;
      height: inherit;
      .overlay-links {
        align-self: center;
        z-index: 20;
        position: relative;
        &.visible-xs {
          height: inherit;
          width: 100%;
          button {
            width: 100%;
            height: inherit;
          }
        }
        button, a {
          @extend a;
          border: 0;
          font-size: 200%;
          padding: 0 6px;
        }
      }
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    vertical-align: top;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 10;
    @include gradient-vertical(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  p {
    display: inline;
    color: $gray-lighter;
    position: absolute;
    top: 1rem;
    left: -0.5rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    &:after {
      content: "";
      height: 0;
      width: 0;
      display: block;
      position: absolute;
      top: 0;
      right: -1rem;
      border-right: 1rem solid transparent;
      border-left: 1rem solid transparent;
    }
    &.owned {
      background-color: $owned;
      &:after {
        border-top: 1rem solid $owned;
        border-bottom: 1rem solid $owned;
      }
    }
    &.read {
      background-color: $read;
      &:after {
        border-top: 1rem solid $read;
        border-bottom: 1rem solid $read;
      }
    }
    &.wanted {
      background-color: $wanted;
      color: $gray-light;
      &:after {
        border-top: 1rem solid $wanted;
        border-bottom: 1rem solid $wanted;
      }
    }
  }

}

.fa-read {
  @extend .fa-check
}

.fa-owned {
  @extend .fa-bookmark
}

.fa-wanted {
  @extend .fa-star
}
