{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_list admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}

{% block object-tools-items %}
    <form action="{% url opts|admin_urlname:'changelist' %}" method="POST">{% csrf_token %}
      {{ block.super }}
      {% for action in action_form.fields.action.choices %}
        {% if not forloop.first %}
        <li><button type="submit" name="action" value="{{ action.0 }}">{{ action.1 }}</button></li>
        {% endif %}
      {% endfor %}
        <input type="hidden" name="_selected_action" value="{{ object_id }}">
    </form>
{% endblock %}