{% load staticfiles books_tags %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block site_title %}{% endblock %}Comic Collector</title>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% block extra_styles %}
  {% endblock %}
</head>

<body>

<div id="wrapper">

  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="clear"> <span class="block m-t-xs">
                <strong class="font-bold">{{ user.get_full_name }}</strong>
               </span> <span class="text-muted text-xs block">{{ user.username }}
                <b class="caret"></b></span></span></a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li class="{% current_nav 'user-profile' %}">
                <a href="{% url 'user-profile' %}">Profile</a>
              </li>
              <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
          </div>
          <div class="logo-element">
            CC
          </div>
        </li>
        <li class="{% current_nav 'home-page' %}">
          <a href="{% url 'home-page' %}"><i class="fa fa-home"></i> Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="{% current_nav 'collection' %}">
            <a href="{% url "collection" %}">
              <i class="fa fa-list"></i> Collection
            </a>
          </li>
        {% endif %}
        {% block extra_nav %}
        {% endblock %}
      </ul>

    </div>
  </nav>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group">
              <input type="text" placeholder="Search for something..." class="form-control" name="top-search"
                     id="top-search">
            </div>
          </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a href="{% url "account_logout" %}">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {% block messages %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible{% if message.tags %} {{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="pull-right">
        {% block footer_right %}
        {% endblock %}
      </div>
      <div>
        {% block footer_left %}
          <strong>Copyright</strong> Ben Cole &copy; 2016
        {% endblock %}
      </div>
    </div>
  </div>
</div>

{% block javascripts %}
  <!-- Mainly scripts -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/metisMenu.min.js' %}"></script>
  <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

  <!-- Custom and plugin javascript -->
  <script src="{% static 'js/inspinia.js' %}"></script>
  <script src="{% static 'js/pace.min.js' %}"></script>
{% endblock %}

</body>

</html>
