{% if instance.id %}
<span class="search-link">
  <a href="{% url 'admin:search-marvel' book_id=instance.id field=field %}">
    <i class="fa fa-search"></i>
    Get field from Marvel API
  </a>
</span>
{% endif %}
