{% extends "base.html" %}
{% load staticfiles socialaccount %}

{% block content %}
  <div class="well">
    <h1>Welcome to Comic Collector</h1>
    <p>This site allows you to keep track of your comic collection and purchase list based upon predefined
      reading orders.</p>
  </div>
  {% if user.is_anonymous %}
    <div class="col-md-4">
      <h2>Get started</h2>
      <p>To get started you will need an account. You can either sign-up or login with Google</p>
      <p><a class="btn btn-default" href="{% url "account_signup" %}" role="button">Sign-up</a></p>
      <p><a class="btn btn-default google-button" href="{% provider_login_url "google" %}" role="button">
        Login with Google</a></p>
    </div>
  {% else %}
    {% include 'books/includes/next_to_buy_read.html' %}
  {% endif %}
{% endblock %}
