{% load i18n admin_static %}
{% if cl.search_fields %}
  <div id="toolbar">
    <form id="changelist-search" method="get">
      <div><!-- DIV needed for valid HTML -->
        <label for="searchbar"><img src="{% static "admin/img/search.svg" %}" alt="Search"/></label>
        {{ search_form.q }}
        <button class="button" type="submit" name="provider" value="db">{% trans 'Search DB' %}</button>
        <button class="button" type="submit" name="provider" value="marvel">{% trans 'Search Marvel' %}</button>
        {% if show_result_count %}
          <span class="small quiet">{% blocktrans count counter=cl.result_count %}{{ counter }} result
            {% plural %}{{ counter }} results{% endblocktrans %} (<a
              href="?{% if cl.is_popup %}_popup=1{% endif %}">
            {% if cl.show_full_result_count %}{% blocktrans with full_result_count=cl.full_result_count %}
              {{ full_result_count }} total{% endblocktrans %}{% else %}
              {% trans "Show all" %}{% endif %}</a>)</span>
        {% endif %}
      </div>
    </form>
  </div>
  <script type="text/javascript">document.getElementById("searchbar").focus();</script>
{% endif %}
