{% extends "base.html" %}

{% block extra_nav %}
  {% if user.is_staff %}
    <li>
      <a href="{% url 'admin:books_book_change' book.id %}" class="">
        <i class="fa fa-pencil"></i> Edit this
      </a>
    </li>
    <li class="divider"></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header">{{ book.title }}
        <br/>
        <small>{{ view.get_author }}</small>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <picture>
        <source media="(max-width: 768px)" srcset="{{ book.images.first.image_preview.url }}">
        <img src="{{ book.images.first.image.url }}" class="img-responsive img-rounded center-block">
      </picture>
    </div>
    <div class="col-xs-12 col-sm-8">
      <p>{{ book.description }}</p>
      <h4>Collected Issues</h4>
      <ul>
        {% for issue in book.issues.all %}
          <li>{{ issue }}
            {% if issue.id in view.owned_issues %}
              <i class="fa fa-check state read" title="Owned"></i>
            {% endif %}</li>
        {% endfor %}
      </ul>
      <p>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="book" value="{{ book.id }}">
        {% if state == 'unowned' or state == 'wanted' %}
          <button
              class="btn btn-default change-icon btn-responsive"
              type="submit"
              name="action"
              value="add-collection">
            <i class="fa fa-bookmark-o"></i>
            <i class="fa fa-bookmark"></i>
            &nbsp;Add to collection
          </button>
        {% else %}
          <button
              class="btn btn-default change-icon btn-responsive"
              type="submit"
              name="action"
              value="remove-collection">
            <i class="fa fa-bookmark"></i>
            <i class="fa fa-bookmark-o"></i>
            &nbsp;Remove from collection
          </button>
        {% endif %}
        {% if state != 'wanted' %}
          <button
              class="btn btn-default change-icon btn-responsive"
              type="submit"
              name="action"
              value="add-wishlist">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
            &nbsp;Add to wishlist
          </button>
        {% else %}
          <button
              class="btn btn-default change-icon btn-responsive"
              type="submit"
              name="action"
              value="remove-wishlist">
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            &nbsp;Remove from wishlist
          </button>
        {% endif %}
        {% if state != 'read' %}
          <button
              class="btn btn-default change-icon btn-responsive"
              type="submit"
              name="action"
              value="add-read">
            <i class="fa fa-square-o"></i>
            <i class="fa fa-check-square-o"></i>
            &nbsp;Mark as read
          </button>
        {% else %}
          <button
              class="btn btn-default change-icon btn-responsive"
              type="submit"
              name="action"
              value="remove-read">
            <i class="fa fa-check-square-o"></i>
            <i class="fa fa-square-o"></i>
            &nbsp;Mark as unread
          </button>
        {% endif %}
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="reading-order-buttons">
        {% if book.has_previous %}
          <div class="pull-left">
            <a href="{{ book.get_root.get_absolute_url }}"
               class="btn btn-default btn-responsive">
              <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i> First in story
            </a>
            <a href="{{ book.previous.get_absolute_url }}"
               class="btn btn-default btn-responsive"><i class="fa fa-chevron-left"></i> Preious in story</a>
          </div>
        {% endif %}
        {% if book.has_next %}
          <div class="pull-right">
            <a href="{{ book.get_children.first.get_absolute_url }}"
               class="btn btn-default btn-responsive">Next in story <i class="fa fa-chevron-right"></i>
            </a>
            <a href="{{ book.last.get_absolute_url }}"
               class="btn btn-default btn-responsive">
              Last in story <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if book.related_books %}
    <div class="row">
      <div class="col-xs-12">
        <h3 class="page-header">Related Comics</h3>
      </div>
      {% include 'books/includes/related_gallery.html' with books=book.related_books %}
    </div>
  {% endif %}
  {% include 'books/includes/book_modal.html' %}
{% endblock %}

{% block footer_right %}
  Data provided by Marvel. © 2014 Marvel
{% endblock %}


{% block javascripts %}
  {{ block.super }}
  <script type="application/javascript">
    {% include 'books/includes/js/book_modal.js' %}
  </script>
{% endblock %}
