{% extends "base.html" %}

{% block content %}
  <div class="col-md-12">
    <h2>
      {% block page_title %}
        Your collection
      {% endblock %}
    </h2>
    {% block list %}
      {% include 'books/includes/book_gallery.html' %}
    {% endblock %}
    {% if is_paginated %}
      {% include 'books/includes/pagination.html' %}
    {% endif %}
  </div>
  {% block modal %}
    {% include 'books/includes/book_modal.html' %}
  {% endblock %}
{% endblock %}

{% block javascripts %}
  {{ block.super }}
  <script type="application/javascript">
    {% include 'books/includes/js/book_modal.js' %}
  </script>
{% endblock %}
