{% extends 'admin/change_list.html' %}
{% load i18n staticfiles %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/books/extra_admin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/books/extra_admin.css.map' %}">
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' 'books' %}">Books</a>
    &rsaquo; <a href="{% url 'admin:books_book_changelist' %}">Books</a>
    &rsaquo; <a href="{% url 'admin:books_book_change' object.id %}">
    {{ object.title }}
  </a>
    &rsaquo; {{ title }}

  </div>
{% endblock %}

{% block search %}
  <p>
    {% block intro %}
      Below are the matches from the Marvel API for <strong>{{ object.title }}</strong>.<br>
      Please choose one to update the extra information for this book, or search the Marvel API manually,
      to find a closer match
    {% endblock %}
  </p>
  <div id="toolbar">
    <form id="changelist-search" method="get">
      <div><!-- DIV needed for valid HTML -->
        <label for="searchbar"><img src="{% static 'admin/img/search.svg' %}" alt="Search"></label>
        <input id="searchbar" maxlength="1024" name="q" type="text">
        <button class="button" type="submit" name="provider" value="marvel">Search Marvel</button>
        {% if paginator.count > 0 %}
          Page {{ page_obj.number }} of {{ paginator.num_pages }} ({{ paginator.count }} results)
        {% else %}
          No results
        {% endif %}
      </div>
    </form>
  </div>
{% endblock %}
{% block date_hierarchy %}{% endblock %}
{% block result_list %}
  <div class="results">
    <table id="result_list" class="table table-striped">
      <thead>
      <tr>
        <th scope="col" class="column-thumbnail">
          <div class="text"><span>Thumbnail</span></div>
          <div class="clear"></div>
        </th>
        <th scope="col" class="column-title">
          <div class="text">Title</div>
          <div class="clear"></div>
        </th>
        <th scope="col" class="column-title">
          <div class="text">Book Type</div>
          <div class="clear"></div>
        </th>
        <th scope="col" class="column-title">
          <div class="text">ISBN</div>
          <div class="clear"></div>
        </th>
        <th scope="col" class="column-title">
          <div class="text">Marvel ID</div>
          <div class="clear"></div>
        </th>
        <th scope="col" class="column-title">
          <div class="text">Description?</div>
          <div class="clear"></div>
        </th>
        <th>
          <div class="text">{% block action_header %}Update fields{% endblock %}</div>
        </th>
      </tr>
      </thead>
      <tbody>
      {% for book in books %}
        <tr>
          <th class="field-thumbnail"><img src="{{ book.small_cover }}" class="small"></th>
          <td class="field-title">{{ book.title }}</td>
          <td class="field-title">{{ book.get_book_type_display }}</td>
          <td class="field-title">{{ book.isbn }}</td>
          <td class="field-marvel_id">{{ book.marvel_id }}</td>
          <td class="field-has_description">
            {% if book.has_description %}
              <i class="fa fa-check-circle green"></i>
            {% else %}
              <i class="fa fa-times-circle red"></i>
            {% endif %}
          </td>
          <td class="field-select">
            <form action="{% url "admin:update-marvel" book_id=object.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="title" value="{{ book.title }}">
              <input type="hidden" name="isbn" value="{{ book.isbn }}">
              <input type="hidden" name="book_type" value="{{ book.book_type }}">
              <input type="hidden" name="publication_date" value="{{ book.publication_date|date:"Y-m-d" }}">
              <input type="hidden" name="description" value="{{ book.description|default:"" }}">
              <input type="hidden" name="page_count" value="{{ book.page_count }}">
              <input type="hidden" name="marvel_id" value="{{ book.marvel_id }}">
              <input type="hidden" name="series_mapping" value="{{ book.series_mapping }}">
              {% block action_buttons %}
                <button type="submit" name="action" value="missing" class="btn btn-success btn-xs">Update missing
                </button>
                <button type="submit" name="action" value="all" class="btn btn-success btn-xs">Update all</button>
              {% endblock %}
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block pagination %}
  {% include 'books/includes/admin_pagination.html' %}
{% endblock %}
