{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% load books_tags %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/books/extra_admin.css' %}">
{% endblock %}

{% block content %}

  {% block intro %}
    <p>
      Below are the series found within the blurb of {{ book.title }}.
    </p>
    <blockquote>
      {{ book.description|highlight:collecting }}
    </blockquote>
    <p>
      Any that were unknown will be editable.
      Please enter a valid search string to search for matching series for that match
    </p>
  {% endblock %}

  <div class="results">
    <table id="result_list">
      <thead>
      <tr>
        {% block table_header %}
          <th scope="col" class="column-name">
            <div class="text"><span>Series Name</span></div>
            <div class="clear"></div>
          </th>
          <th scope="col" class="column-start-year">
            <div class="text">Start Year</div>
            <div class="clear"></div>
          </th>
          <th scope="col" class="column-state">
            <div class="text">Match or Search</div>
          </th>
        {% endblock %}
      </tr>
      </thead>
      <tbody>
      {% block table_body %}
        {% for name, series in series_data.items %}
          <form action="{% url "admin:update-series" book_id=book.id %}" method="post">
            <tr class="{% cycle "row1" "row2" %}">
              {% csrf_token %}
              <td class="field-name">
                {% if series %}
                  {{ series.name }}
                {% else %}
                  <input type="text" name="name" value="{{ name }}" title="Series name">
                {% endif %}
              </td>
              <td class="field-year">
                {% if series %}
                  {{ series.start_year }}
                {% else %}
                  <input type="number" name="start_year" value="" title="Series start year">
                {% endif %}
              </td>
              <td class="field-select">
                {% if series %}
                  <i class="fa fa-check"></i>
                {% else %}
                  <button type="submit" name="original" value="{{ name }}" class="btn btn-success btn-xs">Search...
                  </button>
                {% endif %}
              </td>
            </tr>
          </form>
        {% endfor %}
      {% endblock %}
      </tbody>
    </table>
  </div>
{% endblock %}
