{% extends 'books/series_matches.html' %}
{% load staticfiles %}

{% block intro %}
{% endblock %}

{% block table_header %}
  <th scope="col" class="column-name">
    <div class="text"><span>Series Name</span></div>
    <div class="clear"></div>
  </th>
  <th scope="col" class="column-start-year">
    <div class="text">Start Year</div>
    <div class="clear"></div>
  </th>
  <th scope="col" class="column-end-year">
    <div class="text">End Year</div>
    <div class="clear"></div>
  </th>
  <th scope="col" class="column-state">
    <div class="text">Action</div>
  </th>
{% endblock %}

{% block table_body %}
  {% for series in results %}
    <tr class="{% cycle "row1" "row2" %}">
      {% csrf_token %}
      <td class="field-name">
        {{ series.name }}
      </td>
      <td>
        {{ series.start_year }}
      </td>
      <td>
        {% if series.end_year != 9999 %}
          {{ series.end_year }}
        {% else %}
          ongoing
        {% endif %}
      </td>
      <td>
        <form action="{% url "admin:update-series" book_id=book.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="original" value="{{ original }}">
          <input type="hidden" name="name" value="{{ series.name }}">
          <input type="hidden" name="start_year" value="{{ series.start_year }}">
          <input type="hidden" name="end_year" value="{{ series.end_year }}">
          <button type="submit" name="add" value="add">Add...</button>
        </form>
      </td>
    </tr>
  {% endfor %}
{% endblock %}
