{% load i18n %}

<ul class="pagination">
  <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
    <a href="{% if not page_obj.has_previous %}#{% else %}?{{ page_obj.previous_page_number.querystring }}{% endif %}">
      &laquo;
    </a>
  </li>
  {% for page in page_obj.pages %}
    {% if page %}
      {% ifequal page page_obj.number %}
        <li class="active">
          <span>{{ page }}</span>
        </li>
      {% else %}
        <li>
          <a href="?{{ page.querystring }}">{{ page }}</a>
        </li>
      {% endifequal %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  <li class="{% if not page_obj.has_next %}disabled{% endif %}">
    <a href="{% if not page_obj.has_next %}#{% else %}?{{ page_obj.next_page_number.querystring }}{% endif %}">&raquo;</a>
  </li>
</ul>
