{% load books_tags %}
{% for book in books %}
  <form method="post">
    {% csrf_token %}
    {% block book_id_field %}
      <input type="hidden" name="book" value="{{ book.id }}">
    {% endblock %}
    <div class="col-md-2 col-sm-3 col-xs-6 related">
      <figure class="img-overlay">
        <div class="overlay">
          <div class="overlay-inner">
            {% block gallery_buttons %}
              {% include 'books/includes/gallery_buttons.html' with state=book.state %}
            {% endblock %}
          </div>
        </div>
        {% block picture %}
          {% with book_image=book.images.first %}
            <picture>
              <source media="screen and (max-width: 768px)"
                      srcset="{{ book_image.cropped_thumbnail.url|default:"data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1 1'%2F%3E" }}">
              <source media="screen and (min-width: 1440px)"
                      srcset="{{ book_image.original_cropped.url|default:"data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1 1'%2F%3E" }}">
              <img
                  src="{{ book_image.cropped_preview.url|default:"data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 1 1'%2F%3E" }}"
                  class="img-responsive img-rounded center-block">
            </picture>
          {% endwith %}
        {% endblock %}
        <figcaption class="caption">
          {{ book.title|truncatechars:30 }}
        </figcaption>
        {% with state=book.state %}
          {% block state_ribbon %}
            {% if state != 'unowned' %}
              <p class="{{ state }}"><i class="fa fa-{{ state }}"></i> {{ state|title }}</p>
            {% endif %}
          {% endblock %}
        {% endwith %}
      </figure>
    </div>
  </form>
{% endfor %}
