<div class="modal fade" tabindex="-1" role="dialog" id="book_dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <a href="{{ book.get_absolute_url }}"
           class="btn btn-info btn-responsive"
           id="detail">
          <i class="fa fa-search"></i> Goto book detail
        </a>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="book" value="">
          <div>
            <button class="btn btn-info change-icon btn-responsive"
                    type="submit"
                    name="action"
                    value=""
                    id="collection">
              <i class="fa"></i>
              <i class="fa"></i>
              <span></span>
            </button>
          </div>
          <div>
            <button class="btn btn-info change-icon btn-responsive"
                    type="submit"
                    name="action"
                    value=""
                    id="wishlist">
              <i class="fa"></i>
              <i class="fa"></i>
              <span></span>
            </button>
          </div>
          <div>
            <button class="btn btn-info change-icon btn-responsive"
                    type="submit"
                    name="action"
                    value=""
                    id="read">
              <i class="fa"></i>
              <i class="fa"></i>
              <span></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
