<div class="overlay-links hidden-xs hidden-sm">
  <div class="overlay-links-row">
    <a href="{{ book.get_absolute_url }}"
       title="Goto book detail"><i class="fa fa-search"></i></a>
    {% if state == 'unowned' or state == 'wanted' %}
      <button
          class="change-icon"
          type="submit"
          name="action"
          value="add-collection"
          title="Add to collection">
        <i class="fa fa-bookmark-o"></i>
        <i class="fa fa-bookmark"></i>
      </button>
    {% else %}
      <button
          class="change-icon"
          type="submit"
          name="action"
          value="remove-collection"
          title="Remove from collection">
        <i class="fa fa-bookmark"></i>
        <i class="fa fa-bookmark-o"></i>
      </button>
    {% endif %}

  </div>
  <div class="overlay-links-row">
    {% if state != 'wanted' %}
      <button
          class="change-icon"
          type="submit"
          name="action"
          value="add-wishlist"
          title="Add to wishlist">
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star"></i>
      </button>
    {% else %}
      <button
          class="change-icon"
          type="submit"
          name="action"
          value="remove-wishlist"
          title="Remove from wishlist">
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </button>
    {% endif %}
    {% if state != 'read' %}
      <button
          class="change-icon"
          type="submit"
          name="action"
          value="add-read"
          title="Mark as read">
        <i class="fa fa-square-o"></i>
        <i class="fa fa-check-square-o"></i>
      </button>
    {% else %}
      <button
          class="change-icon"
          type="submit"
          name="action"
          value="remove-read"
          title="Mark as unread">
        <i class="fa fa-check-square-o"></i>
        <i class="fa fa-square-o"></i>
      </button>
    {% endif %}
  </div>
</div>
<div class="overlay-links visible-xs visible-sm">
  <button type="button"
          data-toggle="modal"
          data-target="#book_dialog"
          data-book-id="{{ book.id }}"
          data-book-state="{{ state }}"
          data-book-url="{{ book.get_absolute_url }}"
          data-book-title="{{ book.title }}"><i class="fa fa-search"></i></button>
</div>
