<div class="row">
  <div class="col-xs-12">
    <ul class="pagination">
      <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
        <a href="{% if page_obj.has_previous %}?{{ queries.urlencode }}&page=
          {{ page_obj.previous_page_number }}{% else %}#{% endif %}">
          &laquo;
        </a>
      </li>
      {% for page in paginator.page_range %}
        <li class="{% if page == page_obj.number %}active{% endif %}"><a
            href="?{{ queries.urlencode }}&page={{ page }}">{{ page }}</a></li>
      {% endfor %}
      <li class="{% if not page_obj.has_next %}disabled{% endif %}">
        <a href="{% if page_obj.has_next %}?{{ queries.urlencode }}&page={{ page_obj.next_page_number }}{% endif %}">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
