</form>
<form action="{% url "admin:book_quick_add" %}" method="post">
  {% csrf_token %}
  <div style="display: none;">
  {{ form.as_p }}
  </div>
  <button type="submit" name="quick-add" value="catalogue" class="btn btn-success btn-xs">Add to catalogue</button>
  <button type="submit" name="quick-add" value="owned" class="btn btn-success btn-xs">Add as owned</button>
</form>
