{% if book.read %}
  <i class="state read fa fa-check" title="Read"></i>
{% elif book.owned %}
  <i class="state owned fa fa-bookmark" title="Owned"></i>
{% else %}
  <i class="state want fa fa-star" title="Wanted"></i>
{% endif %}
